<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiki.Dao.PersonMapper">

    <!--使用第三方缓存框架 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="getAll" resultType="com.yiki.Entity.Person">
        select * from person
    </select>


</mapper>


