<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--dtd是约束文件，起提示作用-->

<!--配置文件开始:要按照顺序依次写-->
<configuration>

    <!--设置项:对mybatis的一些配置
    【mapUnderscoreToCamelCase】自动开启驼峰命名字段
    -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--设置打印信息，不然看不到sql-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--延时加载，并且要禁用全部加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>

        <!--配置二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>


    <databaseIdProvider type="DB_VENDOR">
        <!--给数据库厂商起别名-->
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlserver"/>
    </databaseIdProvider>


</configuration>
